$underline : rgb(133, 133, 133);
$Omo : white;
$invis : rgba(255, 255, 255, 0);
$danger : #da1f26;
$Omo : white;
$invis : rgba(255, 255, 255, 0);
$warning : rgb(255, 218, 0);
$warning1 : rgba(255, 218, 0, 0.5);
$color: #da1f26;
$color2: rgb(38, 34, 35);
$color3: #4a4a4a;
$color4: #fff;